---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications_by_date = site.publications | sort: "date" | reverse %}

<h2>Published Work</h2><hr />
{% for post in publications_by_date %}
  {% unless post.status %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

<h2>Submitted and In Preparation</h2><hr />
{% for post in publications_by_date %}
  {% if post.status == "Submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
{% for post in publications_by_date %}
  {% if post.status and post.status != "Submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


